{% extends 'store/main.html'%}
{% load static %}
{%block content %}
<div class="row">
    {% for product in products %}
    <div class="col-lg-4">
        <img class="thumbnail" src=" {{product.imageURL}}" alt>
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <hr>
            {% if order %}

            <form method="post" action="{% url 'update_cart_item' product.id 'increase' %}" style="display: inline;">
                {% else %}
                <form method="post" action="{% url 'login' %}" style="display: inline;">

                    {% endif %}

                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-secondary add-btn">🛒 Add to
                        Cart</button>
                </form>
            </form>

            <a class="btn btn-outline-success" href="{% url 'product_detail' product.id %}">View</a>
            <h4 style="display: inline-block;float: right;"><strong>${{product.price|floatformat:2}}</strong>
            </h4>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content%}